body {
  background-color: var(--gray-color);
}

.info {
  h1 {
    font-size: 25px;
    color: #60727d;
    margin-left: 10px;
  }

  a {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    color: #808080;
  }
}
