<header class="header">
  <div class="container">
    <div class="info">
      <h1>Gulp-сборка by Butyrskiy</h1>
      <ul class="list-reset">
        <li>
          <a target="_blank" href="https://youtube.com/@butyrskiy"
            >YouTube channel</a
          >
        </li>
        <li>
          <a target="_blank" href="https://t.me/DenisButyrskiy"
            >Telegram channel</a
          >
        </li>
        <li>
          <a target="_blank" href="https://t.me/DenisButyrskiyChat"
            >Telegram chat</a
          >
        </li>
      </ul>
    </div>

    <div class="sprite">
      <h2 class="sprite__title">Пример использования спрайта</h2>
      <svg class="sprite__bird">
        <use xlink:href="img/sprite.svg#bird"></use>
      </svg>
      <svg class="sprite__cap">
        <use xlink:href="img/sprite.svg#cap"></use>
      </svg>
    </div>
  </div>
</header>
